@import '../../variables.scss';
@import '../../mixins.scss';

.previous-page{
  position:absolute;
  left:0px;
  top:0px;
  padding:10px;
  font-size:30px;
  cursor:pointer;
}
#product{
  background-color:white;
  padding:35px;
  position:relative;

  .product-description{
    .title{
      @include custom-font(23px,600,$text-color,2px);
      margin:35px 0px 20px 0px;
    }
    img{
      display:none !important;
    }
  }
  .product-info{
    h1{
      @include custom-font(30px,600,$text-color,1px);
      margin-bottom:0;
    }
    .select-wrapper{
      margin:12px 0px;
      span{
        padding:10px;
        cursor:pointer;
        &.quantityselected{
          background-color:$first-color;
          color:white;
        }
      }
    }
    button{
      border:none;
      padding:12px 45px;
      border:solid 2px $first-color;
      background-color:white;
      @include custom-font(16px,600,$first-color);
      display:block;
      cursor:pointer;
      margin-left:auto;
      &:hover{
        background-color:$first-color;
        color:white;
      }
      &:focus{
        outline:none;
      }
    }
    p{
      margin:0;
      @include custom-font(14px,400,$text-color);
      span{
        font-weight:600;
      }
      &.price{
        @include custom-font(19px,500,gray,1px);
      }
      &.inf{
        @include custom-font(14px,500,gray,1px);
      }
    }
  }
  .product-image{
    img{
      display:block;
      max-width: 100%;
      max-height: 400px;
      margin: 0 auto;
    }
  }
}
