<header>
  <div class="container container-header">
    <div id="search-bar">
      <form class="f-i" (ngSubmit)="findInShop()">
        <button type="submit"><i  class="fas fa-search" ></i></button>
        <input [(ngModel)]='find_phrase' name="find_phrase" placeholder="Search" />
      </form>
    </div>
    <div class="logo"  [routerLink]="['/shop']"><img src="../../../assets/logo.png" /></div>
    <div id="basket-bar" (clickOutside)="onClickedOutside($event)">
        <div (click)="toggleBasket()" class="top-menu">
          <i class="fas fa-shopping-cart"></i>
          <span>{{basket_count}} items</span>
        </div>
        <section [hidden]="basket_status" id="basket-container" >
          <div class="no-items" *ngIf="!basket.products || basket.products.length==0">You have no items in your cart</div>
          <div *ngIf="basket.products?.length>0">
            <div class="basket-header">You cart</div>
            <ul>
              <li *ngFor="let product of basket.products">
                <div class="cart-image"><img src="{{product.img_src}}"/></div>
                <div>
                  <span>{{product.name}}</span><br>
                  <span class="price">{{product.price | currency}} x {{product.quantity_select}} </span>
                </div>
              </li>
            </ul>
            <div class="total-price"><span>Subtotal</span><span>{{basket.total_price | currency}}</span></div>
            <a (click)="goToCart()"><button>CHECKOUT</button></a>
          </div>
        </section>
      </div>
  </div>
  <div class="container-fluid" id="shop-menu">
    <ul>
      <li [routerLink]="['/']">HOME</li>
      <li [routerLink]="['/shop/category/5bdd8e3426231609d80b7828']">SHOP</li>
      <li [routerLink]="['/shop']">PROMO</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>
</header>


<section class="container middle-container">
  <ul id="breadcrumbs">
    <li *ngFor="let breadcrumb of breadcrumbs">{{breadcrumb}}<span>/</span></li>
  </ul>
  <router-outlet></router-outlet>
</section>
<!-- <footer>

</footer> -->
