@import '../../variables.scss';
@import '../../mixins.scss';
header{
  background-color:white;
  .container-header{
    display:flex;
    flex:auto;
    padding:40px 15px;
    .logo{
      cursor:pointer;
      img{
        margin:0 auto;
        display:block;
        width:170px;
      }
    }
    #search-bar{
      .f-i{
        display:flex;
        input,i{
          border:none;
          &:focus{
            outline:none;
          }
        }
        input{
          font-size:16px;
          padding:4px 0px;
          width:100%;
        }
        button{
          border: none;
          background-color: white;
        }
        i{
          cursor:pointer;
          padding:4px 0px;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
    & > div{
      flex-basis:33.3%;
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  #shop-menu{
  border-bottom:solid 1px #ccc;
  border-top:solid 1px #ccc;
    ul{
      @include custom-list();
      display:flex;
      justify-content: center;
      li{
        cursor:pointer;
        padding:6px 25px 6px 25px;
        @include custom-font(15px, 700, $text-color);
        &:focus{
          outline:none;
        }
      }
    }
  }
}
#basket-bar{
  position:relative;
  div.top-menu{
    width: max-content;
    cursor:pointer;
    margin-left: auto;
    @include custom-font(15px, 300, $text-color);
    i{
      color:$text-color;
      padding: 0px 10px;
      border-left: 1px solid gray;
    }
  }
  #basket-container{
    top: 30px;
    z-index: 9;
    position:absolute;
    right: 15px;
    background-color:white;
    padding:15px;
    min-width:290px;
    .no-items{
      text-align:center;
      @include custom-font(15px, 500);
    }
    @include custom-shadow();
    .basket-header{
      text-align:center;
      @include custom-font(19px, 500);
      margin:10px 0px;
    }
    .total-price{
      display:flex;
      justify-content: space-between;
      @include custom-font(18px, 400);
      margin: 5px 0px;
    }
    button{
      width:100%;
      border:none;
      background-color:$first-color;
      padding:13px;
      @include custom-font(15px,600,white)
    }
    ul{
      @include custom-list();
      max-height: 300px;
      overflow: auto;
      li{
        display:flex;
        margin-bottom:10px;
        .cart-image{
          flex-basis:20%;
          img{
            max-height: 70px;
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
        }
        div:nth-child(2){
          padding-left:5px;
          flex-basis:80%;
          @include custom-font(13px, 500);
          .price{
            @include custom-font(13px, 600);
          }
        }
      }
    }
  }
}
  nav{
    background-color:black;
    ul{
      @include custom-list();
      display:flex;
      li{
        padding:10px 15px;
        &:first-child{
          padding-left:0;
        }
        @include custom-font(15px, 600,whitesmoke);
        &:hover{
          cursor:pointer;
          color:$first-color;
        }
      }
    }
  }

.middle-container{
  margin-bottom: 80px;
}

footer{
  height:400px;
  background-color:$text-color;
}
#breadcrumbs{
  margin: 20px 0px !important;
    @include custom-list();
    display:flex;
    li{
      @include custom-font(13px, 400);
      span{
        color:$first-color;
        padding:0px 10px;
      }
    }
}