@import '../../variables.scss';
@import '../../mixins.scss';

aside{
  &.col-lg-3{
    padding-right:0;
  }
    nav,section{
      margin-bottom:15px;
      .aside-header{
        @include custom-font(14px,700);
        border-bottom:solid 1px lighten($color: #ccc, $amount: 10%);
        padding-bottom:6px;
        margin-bottom:10px;
      }
    }
    nav{
      ul{
        @include custom-list();
        font-size:12px;
        li{
          background-color:white;
          padding:1px;
          &:focus{
            outline:none;
          }
          &:not(:last-child){
            margin-bottom:5px;
          }
          &:hover{
            cursor:pointer;
            color: darken($first-color,10%);
          }
          &.active-category{
            color:$first-color;
          }
        }
      }
    }
  }
