<div class="category-panel">
  <h1>{{currentCategory?.name | uppercase }}</h1>
  <ul *ngIf="products?.length!=0">
    <li>
      <select [(ngModel)]="currentSort">
        <option [ngValue]="'up'">Cena rosnąco</option>
        <option [ngValue]="'down'">Cena malejąco</option>
      </select>
    </li>
    <li (click)="currentViewStyle='one-line'"><i class="fas fa-bars"></i></li>
    <li (click)="currentViewStyle=''"><i class="fas fa-th"></i></li>
  </ul>
</div>
<p *ngIf="products?.length==0">Aktualnie brak produktów w tej kategorii</p>
<div *ngIf="products?.length!=0" id="products-wrapper" [ngClass]='currentViewStyle'>
  <article class="product" *ngFor="let product of products | orderBy:currentSort" [routerLink] = "['/shop/product', product._id]">
    <!-- <div class="sale">SALE</div> -->
    <div class="img"><img src="{{product.img_src}}"/></div>
    <div class="product-info">
      <div class="price">{{product.price | currency }}</div>
      <div class="title">{{product.name}}</div>
    </div>
  </article>
</div>
