@import '../../variables.scss';

.category-panel{
  display:flex;
  justify-content: space-between;
  padding-bottom: 10px;
 h1{
  font-size:20px;
  margin:0;
 }
 ul{
   margin:0;
   padding:0;
   list-style-type:none;
   display:flex;
   li{
    select{
      font-size:12px;
      border:none;
      background-color:white;
      padding:4px 10px;
      width:100%;
    }
    i{
      &:hover{
        cursor:pointer;
      }
    }
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:0 5px;
   }
 }
}

#products-wrapper{
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  max-height:1000px;
  overflow:auto;
  border-bottom:1px solid #ccc;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow:none;
    border-radius: 0px;
    background-color:white;
}

  &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      -webkit-box-shadow: inset 1px 1px 6px $first-color;
      background-color:$first-color;
  }
  &.one-line{
    grid-template-columns: 1fr;
    .product{
        align-items: center;
        &:hover{
          opacity:1;
          .product-info{
            .price,.title{
              color:$first-color !important;
            }
          }
        }
        display:flex;
        .img{
          flex-basis:10%;
          img{
            max-height: 40px;
            padding: 0;
            max-width: 60px;
          }
        }
        .product-info{
          flex-basis:90%;
          display:flex;
          padding:0;
          width:100%;
          justify-content: space-between;
          .price{
            order:2;
            margin:0;
            padding:10px;
            color:$text-color;
            font-weight:400;
          }
          .title{
            padding:10px;
            order:1;
          }
        }
    }
  }
}
.product{

  &:hover{
    opacity:.8;
  }
  padding:0;
  position:relative;
  .img{
    background-color:white;
    img{
      height:200px;
      max-width:100%;
      padding:30px;
      margin: 0 auto;
      display: block;
    }
  }
  .product-info{
    padding:15px;
    text-align:center;
    .title{
      color:gray;
      font-size:13px;
      font-weight:500;
    }
    .price{
      font-weight:600;
      font-size:17px;
      margin-bottom:10px;
      color:$first-color;
    }
  }

  .sale{
    letter-spacing:1px;
    font-weight:700;
    position:absolute;
    top:0;
    left:0;
    background-color:transparentize($first-color,0.8);
    padding:5px 15px;
  }
  &:hover{
    cursor:pointer;
  }
}
